{% extends 'base.html' %}
{% block content %}
<h2>All Messages</h2>
<div class="row text-center">
  <div class="col-md-6">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        
        <p>
          <p> Hi There {{ current_user.username}}. Make A Post Now</p>
            {{ form.body.label }} <br>
            {{ form.body(cols=80, rows=4)}}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">
                {{ error }}
            </span>
            {% endfor %}
  
        </p>
       
    
        
        <p>
            {{ form.submit() }}
        </p>
    </form>
      
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="row text-center">
  <div class="col-md-6 text-start">
    <h4>All Posts</h4>
    {% for post in posts %}
      {% if post %}
        {% include '_post.html' %}
      {% endif %}
    {% endfor %}
    <!--Pagination-->
    {% if prev_url %}
      <a href="{{ prev_url }}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
      <a href="{{ next_url }}">Older Posts</a>
    {% endif %}
    
   
  </div>
  <div class="col-md-6 text-start">
    <h4>All My Posts</h4>
    {%  for post in my_posts %}
      {% if post %}
        {% include '_post.html' %}
      {% endif %}

    {% endfor %}
    {% if my_prev_url %}
      <a href=" {{ my_prev_url }} "> My newer posts</a>
    {% endif %}
    {% if my_next_url %}
      <a href=" {{ my_next_url }} "> My older posts</a>
    {% endif %}
  </div>
  
</div>
   
{% endblock %} 
